*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --corBotoes:rgb(17, 17, 17);
    --corTexto: white;
    --corPrimaria:rgb(0, 0, 0);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: var(--corPrimaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 30px;
    box-shadow: 2px 2px 2px black;
}

.tela{
    width: 90%;
    padding: 20px;
}

.teclado{
    background-color: blue;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-top: 10px;
}

.teclado li{
    display: flex;
}

.botoes{
    width: 99px;
    padding: 15px;
    background-color: var(--corBotoes);
    color: var(--corTexto);
    border: none;
    font-size: 25px;
}

.botoes:hover{
    background-color: var(--corTexto);
    color: var(--corBotoes);
    cursor: pointer;
}

.zero{
    width: 297px;
}

.apagar{
    width: 198px;
}